<!doctype html>
<html lang="id">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manera Pacific Indonesia</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- ================= NAVBAR ================= -->

    <header class="navbar">
      <div class="container nav-wrapper">
        <!-- <div class="logo">
          <div class="logo-icon">M</div>
          <span>manera</span>
        </div> -->
        <div class="logo">
            <img
                src="{{ url_for('static', filename='image/logo_manera.png') }}"
                alt="Manera Pacific Indonesia"
                class="logo-img"
            >
            <!-- <span>manera.co.id</span> -->
        </div>

        <nav>
          <ul>
            <li><a href="#about">Tentang Kami</a></li>
            <li><a href="#services">Sertifikasi</a></li>
            <li><a href="#products">Kategori Produk</a></li>
            <li><a href="#quality">Distribusi</a></li>
            <li><a href="#contact">Kontak</a></li>
          </ul>
        </nav>

        <a href="#contact" class="btn-wa">
          <i class="fab fa-whatsapp"></i>
          Konsultasi Gratis
        </a>
      </div>
    </header>

    <!-- ================= HERO ================= -->

    <section class="hero">
      <div class="overlay"></div>

      <div class="container hero-wrapper">
        <div class="hero-left">
          <div class="hero-badge">
            ✓ TERSERTIFIKASI HALAL 100% & BPOM
          </div>

          <h1>
            Pionir Manufaktur Makanan & Minuman
            <span>Berkualitas Tinggi</span>
          </h1>

          <p>
           Manera merupakan perusahaan manufaktur makanan yang memproduksi bihun jagung dan penyedap rasa. Dengan merk Bihun Jagung Pion Tunggal, Bihun Jagung Pitung, Bihun Jagung Dorasa, Sohun Iyon dan Penyedap Rasa Sisuka. Produk yang diproduksi dan diperdagangkan oleh PT Manera Pacific Indonesia telah terdaftar di BPOM (Badan Pengawas Obat dan Makanan Indonesia) dan telah mendapatkan sertifikasi HALAL Indonesia.
          </p>

          <div class="hero-buttons">
            <a href="#about" class="btn-primary"> Tentang Kami </a>

            <a href="#services" class="btn-secondary"> Jelajahi Layanan → </a>
          </div>

          <div class="stats">
            <div>
              <h3>50+ KOTA</h3>
              <span>DISTRIBUSI PULAU JAWA</span>
            </div>

            <div>
              <h3>10+ KOTA</h3>
              <span>DISTRIBUSI LUAR PULAU JAWA</span>
            </div>

            <div>
              <h3>2 NEGARA</h3>
              <span>DISTRIBUSI INTERNASIONAL</span>
            </div>
          </div>
        </div>

        <div class="hero-right">
          <div class="feature-card">
            <small>JAMINAN PRODUK</small>

            <div class="feature-item">
              <h4>Jaminan Produk</h4>
              <p>Kualitas produk yang berkualitas tinggi dan tersertifikasi</p>
            </div>

            <div class="feature-item">
              <h4>Produksi Terstandar</h4>
              <p>Produksi yang dilakukan sesuai dengan standar industri dan regulasi yang berlaku</p>
            </div>

            <div class="feature-item">
              <h4>Distribusi dan Logistik</h4>
              <p>Optimal dalam pengiriman yang cepat dan aman.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ================= ABOUT ================= -->

    <section class="about" id="about">
      <div class="container about-wrapper">
        <div class="about-image">
          <img
            src="{{ url_for('static', filename='image/FRAME_PS.png') }}"
            alt="about"
          />

          <div class="quality-box">
            <h2>100%</h2>
            <p>Menggunakan bahan baku lulus uji laboratorium</p>
          </div>
        </div>

        <div class="about-content">
          <div class="section-tag">TENTANG PT MANERA PACIFIC INDONESIA</div>

          <h2>
            Dedikasi Kami untuk Kualitas Nutrisi dan Keamanan Pangan Terbaik
          </h2>

          <p>
            Sejak didirikan, PT Manera Pacific Indonesia berkomitmen menjadi
            produsen pangan modern yang fokus pada kualitas, inovasi dan
            keamanan.
          </p>

          <p>
            Kami menyediakan solusi end-to-end mulai dari formulasi,
            sertifikasi, produksi massal hingga distribusi produk.
          </p>

          <div class="vision-grid">
            <div class="vision-box">
              <h4>Visi Kami</h4>
              <p>Menjadi perusahaan pangan dan logistik terkemuka yang menghadirkan produk berkualitas, distribusi terpercaya, dan nilai terbaik bagi seluruh stakeholder berkepentingan</p>
            </div>

            <div class="vision-box">
              <h4>Misi Kami</h4>
              <p>Menghadirkan produk dan layanan berkualitas dengan harga kompetitif, didukung distribusi yang cepat dan aman, serta kemitraan berintegritas untuk menciptakan kepuasan pelanggan dan manfaat bersama.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ================= SERVICES ================= -->

    <section class="services" id="services">
      <div class="container">
        <div class="section-header">
          <span>SERTIFIKASI</span>

          <h2>Semua produk yang kami produksi sudah tersertifikasi HALAL & BPOM</h2>

        </div>

        <div class="service-grid">
          <div class="service-card">
            <div class="logo">
              <img src="{{ url_for('static', filename='image/LOGOHALAL.png') }}" alt="Logo Halal">
          </div>
            <h3>TERSERTIFIKASI HALAL MUI</h3>
            <!-- <p>Produksi lengkap sesuai spesifikasi merek Anda.</p> -->
          </div>

          <div class="service-card">
            <div class="logo">
              <img src="{{ url_for('static', filename='image/LOGOBPOM.png') }}" alt="Logo BPOM">
            </div>
            <h3>TERSERTIFIKASI BPOM</h3>
            <!-- <p>Pengembangan formula inovatif dan kompetitif.</p> -->
          </div>

          <!-- <div class="service-card">
            <div class="icon">📋</div>
            <h3>Sertifikasi & Regulasi</h3>
            <p>Pendampingan BPOM, Halal dan legalitas produk.</p> -->
          </div>
        </div>
      </div>
    </section>

    <!-- ================= PRODUCTS ================= -->
    <section class="products" id="products">
      <div class="container">
        <div class="section-header">
          <span>KATEGORI PRODUK</span>
          <h2>PRODUK KAMI</h2>
        </div>

        <div class="category-grid">
          <div class="category-card">
            <a href="/Bihun_Jagung_Pion_Tunggal" class="category-card">
              <img
                src="{{ url_for('static',
                filename='image/IMG_9052.jpg') }}"
              />

              <h3>BIHUN JAGUNG PION TUNGGAL</h3>
            </a>
          </div>

          <div class="category-card">
            <a href="/Bihun_Jagung_Pitung" class="category-card">
              <img
                src="{{ url_for('static',
                filename='image/bihunpitung.png')}}"
              />

              <h3>BIHUN JAGUNG PITUNG</h3>
            </a>
          </div>

          <div class="category-card">
            <a href="/Sohun_Iyon" class="category-card">
              <img
                src="{{ url_for('static',
                filename='image/sohuniyoncover.png') }}"
              />

              <h3>SOHUN IYON</h3>
            </a>
          </div>

          <div class="category-card">
            <a href="/penyedaprasasisuka" class="category-card">
              <img
                src="{{ url_for('static',
                filename='image/ssika.png') }}"
              />
              
            <h3>PENYEDAP RASA SISUKA</h3>
          </div>

          <!-- <div class="category-card">
            <img src="{{ url_for('static', filename='image/product4.jpg') }}" />
            <h3>Makanan Siap Saji</h3>
          </div>
        </div>
      </div> -->
    </section>

    <!-- ================= QUALITY ================= -->

    <section class="quality" id="quality">
      <div class="container">
        <div class="section-header center">
          <span>DISTRIBUSI</span>

          <h2>SUDAH TERDISTRIBUSI 50+ KOTA DI INDONESIA</h2>
        </div>

        <div class="quality-grid">
          <div class="quality-item">
            <h3>PULAU JAWA</h3>
          </div>

          <div class="quality-item">
            <h3>PULAU SUMATERA</h3>
          </div>

          <div class="quality-item">
            <h3>TIMOR LESTE</h3>
          </div>

          <div class="quality-item">
            <h3>DUBAI</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- ================= WORKFLOW =================

    <section class="workflow">
      <div class="container">
        <h2>ALUR PEMESANAN PRODUK</h2>

        <div class="workflow-grid">
          <div class="step">
            <span>1</span>
            <h4>Konsultasi</h4>
          </div>

          <div class="step">
            <span>2</span>
            <h4>Sertifikasi</h4>
          </div>

          <div class="step">
            <span>3</span>
            <h4>Produksi</h4>
          </div>

          <div class="step">
            <span>4</span>
            <h4>Pengiriman</h4>
          </div>
        </div>
      </div>
    </section> -->

    <!-- ================= CONTACT ================= -->

    <section class="contact" id="contact">
      <div class="container">
        <div class="contact-wrapper">
          <div class="contact-info">
            <h2>MARI BELANJA PRODUK KAMI</h2>

            <p>Hubungi tim kami sekarang.</p>
          </div>

          <form class="contact-form">
            <input type="text" placeholder="Nama" />

            <input type="text" placeholder="WhatsApp" />

            <input type="text" placeholder="Nama Brand" />

            <textarea rows="6" placeholder="Pesan"></textarea>

            <button type="submit">Kirim Melalui WhatsApp</button>
          </form>
        </div>
      </div>
    </section>

    <!-- ================= FAQ =================

    <section class="faq">
      <div class="container">
        <div class="section-header">
          <h2>Pertanyaan yang Sering Diajukan</h2>
        </div>

        <div class="faq-item">
          <button class="faq-btn">Berapa MOQ minimum?</button>
          <div class="faq-content">MOQ mulai dari 3000 pcs.</div>
        </div>

        <div class="faq-item">
          <button class="faq-btn">Berapa lama proses produksi?</button>
          <div class="faq-content">Sekitar 30-60 hari.</div>
        </div>
      </div>
    </section> -->

    <!-- ================= FOOTER ================= -->

    <footer class="footer">
      <div class="container footer-grid">
        <div>
          <h3>manera</h3>
          <p>Produsen pangan terpercaya Indonesia.</p>
        </div>

        <div>
          <h4>Perusahaan</h4>
          <ul>
            <li>Tentang Kami</li>
            <li>Layanan</li>
            <li>Produk</li>
          </ul>
        </div>

        <div>
          <h4>Kontak</h4>
          <ul>
            <li>+62 823 2223 8885</li>
            <li>manerapacific@gmail.com</li>
          </ul>
        </div>
      </div>
    </footer>

    <a href="#" class="floating-wa">
      <img src="{{url_for('static',filename='image/whatsapp.png')}}" alt="WhatsApp" />
    </a>
    <a href="https://www.instagram.com/bihunsipitung/" class="floating-ig">
      <img src="{{url_for('static',filename='image/instagram.png')}}" alt="Instagram" />
    </a>
    <a href="https://www.tiktok.com/@bihunsipitung/"class="floating-tiktok">
      <img src="{{url_for('static',filename='image/tiktok.png')}}" alt="TikTok" />
    </a>
    <a href="https://shopee.co.id/manera.store?uls_trackid=561e8a5s01p0&utm_content=2XU1rEPFmuAmt43L9SUXtZPo5ezb"class="floating-shopee">
      <img src="{{url_for('static',filename='image/shopee.png')}}" alt="Shopee" />
    </a>
    <a href="https://www.youtube.com/@bihunsipitung"class="floating-youtube">
      <img src="{{url_for('static',filename='image/youtube.png')}}"alt="Youtube"/>
    </a>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>

